NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_PROVA_PROGRAM_ID=G11dBAzLQaADtHHM2AZNz3ThCDnkY5nhX3Ujddu1CMM1
NEXT_PUBLIC_X402_TREASURY=6mf8TTQvSEEhAcC7uxuiWQn8JWGYFMokEAz8c2acjASK
NEXT_PUBLIC_PROVA_API_URL=http://localhost:3001
